__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
*.whl
venv
env
.venv
data/raw/
data/interim/
data/processed/
models/artifacts/
models/mlflow/
*.pkl
*.parquet
.git
.gitignore
README.md
Makefile
notebooks/
tests/
